$font_size: 12px;
$line_height: 16px;

@media screen {
	html, :root {
		margin: 0; padding: 0;
	}
	body {
		font: $font_size serif;
		line-height: $line_height;
		margin: 0; padding: 0;
		background-color: #e0e0e0;
		color: #222;
	}
	p {
		margin: $line_height 0;
	}
	header {
		$bg_color: #235ab9;
		$text_color: darken(#1851bf, 10%);
		padding: $line_height 20%;
		color: $text_color;
		background: url('cobalt-canvas-texture.jpg') $bg_color;
		text-shadow: 
		0 0.1em 0.05em lighten($text_color, 40%),
		0 -0.1em 0.05em darken($text_color, 40%);

		font-family: 'Merriweather', Times, serif;

		-webkit-box-shadow: 0 0 5px #000;
		-moz-box-shadow: 0 0 5px #000;
		-o-box-shadow: 0 0 5px #000;
		-ms-box-shadow: 0 0 5px #000;
		box-shadow: 0 0 5px #000;

		h1 {
			font-size: $font_size * 4;
			line-height: $line_height * 4;
			> span {
				white-space: nowrap;
			}
		}
		#aka {
			font-size: $font_size * 2;
			line-height: $line_height * 2;
			font-weight: bold;
			margin: $line_height 0;
			> span {
				white-space: nowrap;
			}
		}
	}
	section {
		padding: $line_height 20%;
		&#greeting {
			font-size: $font_size * 2;
			line-height: $line_height * 2;
			strong {
				white-space: nowrap;
			}
			#make {
				font-size: 2em;
				font-family: "Gloria Hallelujah";
				//text-indent: 0.5em;
				text-align: center;
				padding: 1em 2.5em 1em 0;
				color: #000;
				text-shadow: 0 0 1.5px #000;
				small {
					font-size: 0.5em;
				}
				#dreams {
				}
			}
			#contact img {
				opacity: 0.7;
				border: 0;
				vertical-align: middle;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}