@charset "UTF-8";
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes dropDown {
  from {
    -webkit-transform: translateY(-200px); }
  90% {
    -webkit-transform: translateY(64px); }
  to {
    -webkit-transform: translateY(0); } }
@keyframes dropDown {
  from {
    transform: translateY(-200px); }
  90% {
    transform: translateY(64px); }
  to {
    transform: translateY(0); } }
@-webkit-keyframes dropShow {
  from {
    opacity: 0; }
  90% {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes dropShow {
  from {
    opacity: 0; }
  90% {
    opacity: 0; }
  to {
    opacity: 1; } }
@media screen {
  html {
    margin: 0;
    padding: 0; }

  body {
    font-size: 12px;
    font-family: Times, PMingLiu, serif;
    line-height: 16px;
    margin: 0;
    padding: 0;
    background: #f8f8f8 url("./little-pluses.png");
    color: #222; }

  p {
    margin: 16px 0; }

  a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 1.5px #00f;
    -webkit-transition: color 0.3s, border-bottom-color .3s;
    transition: color 0.3s, border-bottom-color .3s;
    text-decoration: none;
    border-bottom-color: transparent; }
    a:link, a:visited {
      color: #000; }
    a:hover {
      color: #00c;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 1.5px #009;
      border-bottom: 0.1em dashed; }
      a:hover img {
        -webkit-box-shadow: 0 0 1.5px #009;
        box-shadow: 0 0 1.5px #009; }
    a:active {
      color: #33f;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 1.5px #009; }
      a:active img {
        -webkit-box-shadow: 0 0 1.5px #009;
        box-shadow: 0 0 1.5px #009; }
    a img {
      -webkit-box-shadow: 0 0 1.5px #00f;
      box-shadow: 0 0 1.5px #00f; }

  body > header {
    color: rgba(7, 23, 55, 0.6);
    background: url("./45-degree-fabric-dark.png") #2569de;
    text-shadow: 0 1px 0.5px rgba(129, 166, 239, 0.6), 0 -1px 0.5px rgba(0, 0, 0, 0.6);
    padding-bottom: 2em;
    font-family: "Merriweather", "Bookman Old Style", Times, PMingLiu, serif;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    -webkit-animation-name: dropDown;
    -webkit-animation-duration: 0.7s;
    animation-name: dropDown;
    animation-duration: 0.7s;
    margin: 0 0 16px 0; } }
  @media screen and (max-width: 800px) {
    body > header {
      padding-bottom: 1em; } }
@media screen {
    body > header h1 {
      margin: 0 auto;
      max-width: 700px;
      padding: 32px 0.5em 16px 0.5em;
      font-size: 48px;
      line-height: 64px; } }
    @media screen and (max-width: 800px) {
      body > header h1 {
        font-size: 24px;
        line-height: 32px;
        padding: 16px 0.5em 8px 0.5em; } }
@media screen {
    body > header #aka {
      margin: 0 auto;
      max-width: 700px;
      padding: 16px 1em;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold; } }
    @media screen and (max-width: 800px) {
      body > header #aka {
        font-size: 18px;
        line-height: 32px;
        padding: 4px 0.66667em; } }
@media screen {
      body > header #aka > span {
        white-space: nowrap; }

  nav {
    -webkit-animation-name: dropShow;
    -webkit-animation-duration: 0.7s; }
    nav > ul {
      list-style: none;
      text-align: center;
      padding: 0 2em;
      margin: 16px 0; }
      nav > ul > li {
        display: inline;
        line-height: 32px;
        font-size: 24px;
        white-space: nowrap; } }
      @media screen and (max-width: 800px) {
        nav > ul > li {
          line-height: 32px;
          font-size: 18px; } }
@media screen {
        nav > ul > li:after {
          content: ' · '; }
        nav > ul > li:last-child:after {
          content: none; }

  #share {
    background: transparent url("./tiramisu-icon-64-shadow.png") left center no-repeat;
    line-height: 32px;
    font-size: 24px;
    height: 64px;
    width: 50%;
    float: right;
    margin-right: 140px;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateX(108px);
    transform: translateX(108px); }
    body:not(.hide-share) #share:hover {
      -webkit-transform: none;
      transform: none; }
      body:not(.hide-share) #share:hover > * {
        opacity: 1; }
    body.hide-share #share > * {
      opacity: 0; }
    #share > * {
      position: absolute;
      opacity: 0.3;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    #share > #fblike {
      left: 80px; }
    #share > #gplusone {
      left: 144px; }
    #share > p {
      left: 208px; } }
  @media screen and (max-width: 800px) {
    #share {
      height: 256px;
      width: 100%;
      background-position: center top;
      margin: 0;
      -webkit-transform: none;
      transform: none; }
      body.hide-share #share {
        height: 64px;
        margin-bottom: 16px; }
        body.hide-share #share > * {
          display: none; }
      #share > #fblike {
        left: 50%;
        top: 80px;
        margin-left: -32px; }
      #share > #gplusone {
        left: 50%;
        top: 144px;
        margin-left: -32px; }
      #share > p {
        left: 0;
        top: 208px;
        width: 100%;
        text-align: center; } }

@media screen {
  body > section {
    margin: 16px auto;
    max-width: 700px;
    padding: 0 16px;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    animation-name: fadeIn;
    animation-duration: 0.7s; }
    body > section:after, body > section:before {
      content: '§';
      text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
      display: block;
      line-height: 32px;
      margin: 16px 0;
      font-size: 24px;
      color: #c0c0ce;
      text-align: center; } }
    @media screen and (max-width: 800px) {
      body > section:after, body > section:before {
        margin: 8px 0;
        font-size: 18px;
        line-height: 32px; } }
@media screen {
    html.no-js body > section:before {
      display: none; }
    body > section html.js {
      display: none; }
    body > section header {
      font-size: 36px;
      line-height: 48px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.73);
      text-align: center;
      padding-bottom: 16px; }
      html.js body > section header.no-js-only {
        display: none; } }
    @media screen and (max-width: 800px) {
      body > section header {
        line-height: 32px;
        font-size: 24px;
        padding-bottom: 8px; } }
@media screen {
    body > section .preface {
      font-size: 24px;
      line-height: 32px;
      text-align: center; } }
    @media screen and (max-width: 800px) {
      body > section .preface {
        line-height: 32px;
        font-size: 18px; } }
@media screen {
      body > section .preface:after {
        content: '§';
        text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
        display: block;
        line-height: 32px;
        margin: 16px 0;
        font-size: 24px;
        color: #c0c0ce;
        text-align: center; } }
      @media screen and (max-width: 800px) {
        body > section .preface:after {
          margin: 8px 0;
          font-size: 18px;
          line-height: 32px; } }
@media screen {
    body > section .part:not(:last-child):after {
      content: '§';
      text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
      display: block;
      line-height: 32px;
      margin: 16px 0;
      font-size: 24px;
      color: #c0c0ce;
      text-align: center; } }
    @media screen and (max-width: 800px) {
      body > section .part:not(:last-child):after {
        margin: 8px 0;
        font-size: 18px;
        line-height: 32px; } }
@media screen {
    body > section#about {
      font-size: 24px;
      line-height: 32px; } }
    @media screen and (max-width: 800px) {
      body > section#about {
        font-size: 18px;
        line-height: 24px; } }
@media screen {
      body > section#about strong {
        white-space: nowrap; }
      body > section#about .contact img {
        border: 0;
        vertical-align: middle;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
    body > section#follow {
      font-size: 24px;
      line-height: 32px;
      text-align: center; } }
    @media screen and (max-width: 800px) {
      body > section#follow {
        line-height: 24px;
        font-size: 18px; } }
@media screen {
      body > section#follow > ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        body > section#follow > ul > li {
          display: block; }
          body > section#follow > ul > li > img {
            margin: 32px 0;
            background-color: rgba(204, 204, 204, 0.5);
            -webkit-box-shadow: 0 0 2px #00f;
            box-shadow: 0 0 2px #00f; }
    body > section#works:hover > section:not(:hover) {
      opacity: 0.7; }
    body > section#works section {
      max-width: 800px;
      margin: 16px auto;
      font-size: 18px;
      line-height: 24px;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      clear: both; }
      body > section#works section + section {
        margin-top: 32px; }
      body > section#works section .date {
        margin: 0; }
        body > section#works section .date:lang(en) {
          font-style: italic; }
      body > section#works section .keypoint {
        font-weight: bold; }
      body > section#works section:nth-child(odd) > header img {
        float: right;
        margin-left: 16px;
        margin-right: 0; }
      body > section#works section:nth-child(odd) p > img {
        float: left;
        margin-right: 16px;
        margin-left: 0; }
      body > section#works section > header {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold; }
        body > section#works section > header img {
          float: left;
          margin-right: 16px;
          margin-top: 5.33333px;
          margin-bottom: 5.33333px;
          background-color: #ccc; }
      body > section#works section p > img {
        float: right;
        margin-left: 16px;
        margin-bottom: 16px; } }
    @media screen and (max-width: 800px) {
      body > section#works section > header img {
        float: none !important;
        display: block;
        margin: 16px auto !important;
        max-width: 100%;
        height: auto; } }
@media screen {
      body > section#works section p.client {
        padding: 0 24px;
        margin: 6px 0;
        background: url("./icons/user_gray.png") left 4px no-repeat transparent;
        font-size: 0.8em; }
        body > section#works section p.client > a {
          text-decoration: none; }
          body > section#works section p.client > a:hover {
            text-decoration: underline; }
      body > section#works section ul.tech {
        list-style: none;
        margin: 0;
        padding: 0 24px;
        background: url("./icons/wrench.png") left 4px no-repeat transparent; }
        body > section#works section ul.tech > li {
          display: inline-block;
          font-size: 0.8em;
          padding: 0 0.3em;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.5); }
    body > section#interviews-talks ul {
      margin: 0 auto;
      font-size: 18px;
      line-height: 32px; } }
    @media screen and (max-width: 800px) {
      body > section#interviews-talks ul {
        font-size: 18px;
        line-height: 24px;
        padding: 0; }
        body > section#interviews-talks ul > li {
          list-style: none; } }
@media screen {
      body > section#interviews-talks ul a {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
        body > section#interviews-talks ul a:link, body > section#interviews-talks ul a:visited {
          color: #006; }
        body > section#interviews-talks ul a:hover {
          color: #00c; }
        body > section#interviews-talks ul a:active {
          color: #33f; }
      body > section#interviews-talks ul > li {
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        list-style: none;
        padding-bottom: 8px; }
        body > section#interviews-talks ul > li > .title {
          font-size: 24px;
          font-weight: bold; } }
        @media screen and (max-width: 800px) {
          body > section#interviews-talks ul > li > .title {
            font-size: 18px;
            line-height: 24px; } }
@media screen {
      body > section#interviews-talks ul:hover > li:not(:hover) {
        opacity: 0.7; } }
