@media screen {
  body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
}

body, input, button {
  font: 16px/normal Times, serif;
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('/assets/fonts/merriweather-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('/assets/fonts/merriweather-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html:not(.font-loading) article > * {
  opacity: 1;
}

h1 {
  font-size: 22px;
  color: rgb(60, 60, 60);
}

h2 {
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid rgb(84, 84, 84);
  color: rgb(60, 60, 60);
}

h2, article > header p {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
}

h2, h3 {
  font-size: 16px;
  line-height: normal;
}

body.screenshot {
  background: transparent;
  margin: 8px;
}
body.screenshot > :not(article) {
  display: none;
}
body.screenshot article {
  margin: 0 auto;
}
body.screenshot article::after {
  display: block;
  content: '';
  position: fixed;
  bottom: 0;
  height: 50%;
  background: linear-gradient(180deg, transparent 0%, #fff 100%);
  left: 8px;
  right: 8px;
}

@media screen {
  body.unlock-dialog #unlock-form {
    transform: none;
    visibility: visible;
  }

  html.updating article::before {
    visibility: visible;
    opacity: 0.5;
  }

  article::before {
    display: block;
    position: absolute;
    content: "Downloading updates…";
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    background-image: linear-gradient(-45deg, #ffffff 25%, #ffcc80 25%, #ffcc80 50%, #ffffff 50%, #ffffff 75%, #ffcc80 75%, #ffcc80);
    animation: progress-bar-stripes 1s linear infinite;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;

    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
  }

  html.index article::before {
    transform: translateY(30px);
  }

  html.page article::before {
    transform: translateY(15px);
  }

  @keyframes progress-bar-stripes {
    from { background-position: 0 0 }
    to { background-position: 40px 0 }
  }

  article > :not(#unlock-form) {
    transition: opacity 0.2s ease-in-out;
  }

  body.unlock-dialog article > :not(#unlock-form),
  body.decrypting article > :not(#unlock-form) {
    opacity: 0.3;
  }

  #unlock-form {
    position: absolute;
    display: block;
    top: 0;
    background-color: #e0e0e0;
    left: 10%;
    width: 80%;
    transition: transform 0.2s ease-in-out, visibility 0.2s;
    visibility: hidden;
    padding: 1em;
    transform: translateY(-110%);

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  #notices {
    position: absolute;
    display: block;
    top: 1em;
    left: 0;
    width: 100%;
    text-align: center;
  }

  #notices p {
    display: inline;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in, opacity 0.3 ease-in;
    max-width: 820px;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 128, 0.5);
    color: #666;
  }

  body.decrypted #notices p,
  html.no-js #notices p.no-js {
    visibility: visible;
    opacity: 1;
  }

  article {
    position: relative;
    overflow: hidden;
  }
}

article > header {
  text-align: center;
}

article > header p {
  margin: 0;
}

article ul {
  padding-left: 0;
}

article li {
  list-style: none;
  /* Sorry, only works in Firefox
  list-style-type: "\2013";*/
  padding-left: 1em;
  text-indent: -1em;
}
article li::before {
  content: "\2013"; /* en dash */
  display: inline-block;
  width: 1em;
  text-indent: 0;
}

article p, article li, article .time {
  color: #3d3d3d;
}

.head-time {
  display: flex;
  flex-wrap: wrap;
}

.head-time span.head,
.head-time span.time {
  flex: 1 1 auto;
}

.time {
  text-align: right;
}

section {
  page-break-inside: avoid;
}

@page {
  margin: 0.3in 0.2in;
}

@media print {
  body > *:not(article),
  article .screen-only {
    display: none;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  body.with-page-number::before,
  body.with-page-number::after {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  /* Unfortunately Chrome doesn't increment css counter when
     rendering position: fixed element on multiple pages, so
     we will need this hack that only works with two pages.
  */
  body.with-page-number::after {
    position: absolute; /* Shows up on first page */
    background-color: white;
    content: '1';
  }

  body.with-page-number::before {
    position: fixed; /* Shows up on every page */
    content: '2';
  }

  article::after {
    content: '§';
    display: block;
    line-height: 32px;
    font-family: Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
}
