header.main {
  padding: 24px 6px;
}

.pic-original,
.pic-scene,
.pic-foreground {
  animation: 0.2s ease-in pop;
}

@keyframes pop {
  from {
    transform: perspective(500px) translateZ(-20px);
  }
}
